@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 2rem 0;
}

button,
a,
li {
  cursor: pointer;
  white-space: nowrap;
}

input {
  padding: 1rem;
  border-radius: 0.25rem;
}

button {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

ul {
  width: 100%;
}

li {
  padding: 1rem 1.5rem;
  border-bottom: 1px solid #cccccc;
}

li:hover {
  background: #f5f5f5;
}

table {
  border-collapse: collapse;
}

thead,
tbody {
  display: block;
}

tbody {
  overflow-y: auto;
  max-height: 60vh;
}

tr {
  width: 100%;
  display: table;
  table-layout: fixed;
}

th {
  padding: 1rem 0;
  border: 2px solid #ddd;
  background-color: #f0f0f0;
  text-align: center;
  font-size: 1.4rem;
}

td {
  padding: 1rem 0;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 1.4rem;
}

.desktop {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.desktop > div {
  width: 80vw;
  min-width: 320px;

  @media (min-width: 1025px) {
    width: 60vw;
    min-width: 60vw;
    max-width: 1024px;
  }
}
